
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
xgboost==2.0.3
imbalanced-learn==0.12.3 
ollama==0.2.1            
sentence-transformers==3.0.1 
pypdf==4.2.0             
jupyter==1.0.0
requests==2.31.0